/*
* Base btn @extend
*---------------------------------------
*/
%btn {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 24px;
	font-family: $header-font-family;
	transition: all 0.4s ease 0s;
	border: none;
	appearance: none;
}

.btn {
	@extend %btn;
	font-size: 30px;
	background-color: $grey-color;
	color: $gold-color;

    @extend %large;

	&:hover, &:focus {
		background-color: $gold-color;
		color: $grey-color;
	}

	&--submit {
		.complete & {
			display: none;
		}
	}

	&--social {
		display: none;
		margin: 0 30px 30px 0;

		.complete & {
			display: inline-block;
		}
	}
}