/*
* Form defaults
*/
form {
	@extend .clearfix;
}
fieldset {
	@extend .clearfix;
	border:0;
	padding:0;
}
legend {
	@extend .visuallyhidden;
}
label {
	display: block;
}

input,
textarea,
select {
	width: 100%;
	line-height: 1;
	appearance: none;
	outline:0;
	padding: 12px;
	min-height: 46px; // Added this in because IE11
	border:1px solid lightgrey;
}
textarea {
	@extend %large;
	font-family: $header-font-family;
	resize:vertical;
	-webkit-overflow-scrolling: touch;
	padding: 0px;
	appearance: none;
	border: none;
	background: transparent;
	margin-bottom: 60px;
	@include media(">=small") {
		min-height: 230px;
		margin-bottom: 0px;
	}
}
select {
	@include svg-png-background("sprite-icon-dropdown-arrow");
	background-position: right 15px center;
}

// Button type inputs
input[type=button],
input[type=submit],
button {
	width: auto;
	display: inline-block;
	vertical-align: middle;
	line-height: $base-line-height;
}

// Checkboxes & Radios
input[type=checkbox],
input[toye=radio] {
	display:inline-block;
	vertical-align:middle;
}

// File
input[type=file] {}

// Search
input[type=search] {}

// Number input
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Autofll (removes yellow background)
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 60px white inset;
}



// Placeholder text
&::-webkit-input-placeholder {
   
  @include rem-property(font-size, 46px);
  line-height: 46/46*1;

  @include media(">=small", "<medium") {
    @include rem-property(font-size, 58px);
    line-height: 58/58*1;
  }

  @include media(">=medium", "<large") {
    @include rem-property(font-size, 70px);
    line-height: 70/70*1;
  }

  @include media(">=large") {
    @include rem-property(font-size, 82px);
    line-height: 82/82*1;
  }
   color: $grey-color;
}
&:-moz-placeholder {
   
  @include rem-property(font-size, 46px);
  line-height: 46/46*1;

  @include media(">=small", "<medium") {
    @include rem-property(font-size, 58px);
    line-height: 58/58*1;
  }

  @include media(">=medium", "<large") {
    @include rem-property(font-size, 70px);
    line-height: 70/70*1;
  }

  @include media(">=large") {
    @include rem-property(font-size, 82px);
    line-height: 82/82*1;
  }
   color: $grey-color;
}
&::-moz-placeholder {
   
  @include rem-property(font-size, 46px);
  line-height: 46/46*1;

  @include media(">=small", "<medium") {
    @include rem-property(font-size, 58px);
    line-height: 58/58*1;
  }

  @include media(">=medium", "<large") {
    @include rem-property(font-size, 70px);
    line-height: 70/70*1;
  }

  @include media(">=large") {
    @include rem-property(font-size, 82px);
    line-height: 82/82*1;
  }
   color: $grey-color;
}
&:-ms-input-placeholder {
   font-size:14px!important;
}
::-ms-input-placeholder { /* Edge */
    
  @include rem-property(font-size, 46px);
  line-height: 46/46*1;

  @include media(">=small", "<medium") {
    @include rem-property(font-size, 58px);
    line-height: 58/58*1;
  }

  @include media(">=medium", "<large") {
    @include rem-property(font-size, 70px);
    line-height: 70/70*1;
  }

  @include media(">=large") {
    @include rem-property(font-size, 82px);
    line-height: 82/82*1;
  }
    color: $grey-color;
}