---
title: Talk in code
layout: default
---

<section>
	<div class="section__wrapper">
		<h1>Talk in code</h1>
		<p>Translate your message into Morse Code and share it with your friends.</p>

		<form>
			<div class="form-item">
				<textarea placeholder="Enter your message to be coded here"></textarea>
				<a class="close" href="/dist/templates/">Close</a>
			</div>
			<div class="form-actions">
				<button class="btn btn--submit">Translate my message to morse code</button>
				<a class="btn btn--social" href="https://twitter.com/home?status=">Tweet it</a>
				<a class="btn btn--social" href="https://www.facebook.com/sharer/sharer.php?u=/">Facebook it</a>
				<a class="btn btn--social" href="https://plus.google.com/share?url=">G+ it</a>
			</div>
		</form>
	</div>
</section>