<!doctype html>
<!--[if IE 9 ]>    		 <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<title>Talk in code</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Share meta -->
    <meta property="og:site_name" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />

    <!-- Modernizr -->
    <script src="../../src/js/libs/modernizr.custom.js"> </script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../css/style.css">

</head>

<body>