/*
* Form styles extending from the base/forms.scss
*/


.form-item {
	border-top: 8px solid $grey-color;
	border-bottom: 8px solid $grey-color;
	margin-bottom: 2em;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 20px;

	@include media(">medium") {
		padding: 30px;
	}

	textarea {
	    @include media(">=small", "<medium") {
	        @include span(5 of $columns-small 0);
	    }

	    @include media(">=medium", "<large") {
	        @include span(8 of $columns-medium 0);
	    }

	    @include media(">large") {
	        @include span(10 of $columns-large 0);
	    }
	}
}

.form-actions {
	margin: 0 20px;

  @include media(">medium") {
    margin: 0 30px;
  }
}


.close {
	position: absolute;
	width: 60px; height: 41px;
	opacity: 0.3;
	text-indent: -2000em;
	transition: all 0.4s ease 0s;
	top: 100%; right: 50%;
    margin: -50px -30px 0 0;

	&:before, &:after {
		content: '';
		position: absolute;
		right: 28px; top: -10px;
		height: 41px; width: 2px;
		background-color: $grey-color;
	}

    @include media(">=small") {
		margin: 0;
    }

  	@include media(">=small", "<medium") {
  		right: 16px; top: 29px;
  		height: 41px;
  		&:before, &:after { height: 60px; }
  	}

  	@include media(">=medium", "<large") {
  		right: 25px; top: 41px;
  		height: 48px;
  		&:before, &:after { height: 69px; }
  	}

  	@include media(">=large") {
		right: 14px; top: 42px;
		height: 56px;
  		&:before, &:after { height: 78px; }
  	}

	&:hover, &:focus {
  		opacity: 1;
	}
	
	&:before {
  		transform: rotate(45deg);
	}

	&:after {
  		transform: rotate(-45deg);
	}
}
